.spanStyle {
  padding: "40px";
  position: relative;
  left: 16rem;
  top: -15rem;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
}

.img0 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (width: 500px) {
 
  
   div.react-slideshow-wrapper.slide,div.imageswrap,div.active,.slider,div.react-slideshow-container, div-img0{
    display: none;

   }
}
