

.success {
  width: 90%;
  margin: 0px 17px;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px 0px;
  border: 1px solid #3a9ea5;
  background: #f0f9fa;
}

.warning {
  width: 90%;
  margin: 0px 17px;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px 0px;
  border: 1px solid #d96060;
  background: #ec8f8f;
}
@media (width: 500px) {
  div.card-body.d-flex.flex-column,
  div.row.g-0,
  div.col-md-6,
  div.card,
  div.container.py-5,
  div.card.rounded-2 {
    width: 430px;
  }
  img.rounded-start {
    display: none;
  }
}