.Category {
  margin-top: 0;
  margin-left: 0.5rem;
  padding:2rem 0;
  width: 160px;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
  overflow: auto;
  color:white;
  font-size: small;
}
h5 {
  text-align: center;
  font-size: small;

  color: rgb(6, 6, 6);

}
.Category > p {
  display: block;
  color: rgb(6, 6, 6);
  padding: 12px;
  margin: 0;
  text-decoration: none;
}

.Category > p:hover {
  background-color: #555;
  color: white;
}

aside {
  grid-area: sidebar;
  width: 160px;

  background-color: #45aaf2;
}