.Category {
  margin-left: 0.5rem;
  width: 160px;
  /* background-color: #f1f1f1;  */
  position: relative;
  height: 100%;
  overflow: auto;
  font-size: medium;
}
h5 {
  text-align: left;
  font-size: medium;

  color: rgb(6, 6, 6);

}
.Category > p {
  display: block;
  color: rgb(6, 6, 6);
  padding: 4px;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.Category > p:hover {
  background-color: #555;
  color: white;
}

aside {
  grid-area: sidebar;
  width: 140px;
}

.price{
  padding-top: 1rem;
}