img {
  width: 380px;
  height: 350px;
}
.Home {
  /* margin-top: 3%; */
  display: grid;
  /* grid-template-columns: auto auto; */
  /* padding: 5% 5%; */
  color: rgb(9, 9, 9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}
.bi-star-fill {
  color: orange;
  width: 18px;
  height: 16px;
  margin: 1px;
}
/* .price {
  padding: 0px;
}
.product {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 3rem;
  justify-content: center;
  align-content: center;
  width: 380px;
  height: 350px;
}
 
 .product1 {
  border-radius: 15%;
  background-color: rgba(7, 7, 7, 0.626);
  background-size: cover;
  position: absolute;
  top: 1rem;
  left: 2rem;
  padding-top: 3rem;
  color: white;
  margin: 3rem;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 250px;
} */

.success {
  width: 90%;
  margin: 0px 17px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px 0px;
  border: 1px solid #3a9ea5;
  background: #333333;
}