.nav-choices {
  text-decoration: none;
  margin-left: 40px;
  color: white;
  text-align: center;

}

.logged,
.notlogged {
  padding-bottom: 1rem;
  background-color: #212529;
  padding: 2rem;
  text-align: center;

}


@media (width: 500px) {
  .nav-choices {
    margin-left: 15px;
    margin-right: 15px;
     
  
  }
  
  .logged,
  .notlogged {
 
    text-align: center;
  
  }
}
