body{
    text-align: center;
  background-color: #f1f1f1; 

   
}

.App-header{
    background-color: #212529;
   
} 

.search{
    height: 2rem;
    width:20rem;
    float: right;
    border: none;
    margin-top: 1.6rem;
    margin-right: 16px;
    
}

.search-btn{
    float: right;
    width: 2rem; 
    height: 2rem;
    margin-top: 1.6rem;
    border: none;
      background-color: "white"
}

@media (width: 500px) {
  div.card-body.d-flex.flex-column,
  div.row.g-0,
  div.col-md-6,
  div.card,
  div.container.py-5,
    div.card.rounded-2{
    width: 430px;
    
    
  }
  img.rounded-start {
    display: none;
  }
  
   .slider{
    display: none;

   }
}