

.success {
  width: 90%;
  margin: 0px 17px;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px 0px;
  border: 1px solid #3a9ea5;
  background: #f0f9fa;
}

.warning {
  width: 90%;
  margin: 0px 17px;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 14px 0px;
  border: 1px solid #d96060;
  background: #ec8f8f;
}
